<!DOCTYPE html>
<html>
    <head>
        <title>Auth Template</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>

        <!-- Include flash messages partial -->
        <% include ./flash-messages %>

            <h1><%= title %></h1>
                <p>Welcome to <%= title %></p>

                    <ul>
                        <li><a href="/">Home</a></li>
                    <% if(!currentUser) { %>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    <% } else { %>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li>Welcome, <%= currentUser.username %></li>
                    <% } %>
                    </ul>