body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* Alert and Success classes */
.is-success {
  color: green;
}

.is-error {
  color: red;
}

/* Profile image */
.profile-image {
  width: 100px;
  border-radius: 50%;
}
